@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  &.dark {
    background-color: #282c34;
    .App {
      background-color: #282c34;
      > div {
        background-color: #282c34;
      }
    }
  }
}
